@mixin font-face($font-family, $url, $weight) {
  @font-face {
    font-family: "#{$font-family}";
    src: url('../fonts/#{$url}.woff2') format("woff2"),
    url('../fonts/#{$url}.woff') format("woff");
    font-weight: #{$weight};
    font-display: swap;
    font-style: normal;
  }
}











// $font-adres: '../../fonts/'; // каталог где распологаються файлы шрифтов

// $font-name:( // перечисляем имена всех файлов в массиве
//   'OpenSans-Bold',
//    'OpenSans-Light',
//    'OpenSans-Regular',
//    'OpenSans-SemiBold',
//    'Ruda-Black',
//    'Ruda-Bold',
//    'Ruda-Regular',
//    'Ruda-SemiBold'
// );

// @each $current-font in $font-name {
//   @font-face {
//     font-family: $current-font;
//     /* Имя шрифта */
//     src: url('#{$font-adres}#{$current-font}.woff2'),
//     url('#{$font-adres}#{$current-font}.woff');
//     /*адрес, имя и тип файла в одной строке*/
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
//   }
// }


// @mixin helvetica($style : map-get($font-name, 0)) {

//   // миксин для подключения шрифта
//   @each $current-font in $font-name {
//     @if $style==$current-font {
//       font-family: $current-font;
//     }
//   }
// }

// //  @include helvetica('OpenSans-Bold'); - таким образом подключаем нужные нам шрифты в коде SCSS