$green-900: #63a60f;
$green-200: #e0edcf;
$green-100: #eff6e7;
$dark-900: #121212;
$dark-800: #31352b;
$dark-500: #505050;
$red-900: #cf3e3b;
$orange-900: #ff7a00;
$yellow-900: #ffb800;
$silver-600: #c1c1c1;
$silver-100: #f6f6f6;
$white: #ffffff;

@include font-face(OpenSans-Bold, OpenSans-Bold, 700);

@include font-face(OpenSans-SemiBold, OpenSans-SemiBold, 600);

@include font-face(OpenSans-Regular, OpenSans-Regular, 400);

@include font-face(OpenSans-Light, OpenSans-Light, 300);

@include font-face(Ruda-Black, Ruda-Black, 900);

@include font-face(Ruda-Bold, Ruda-Bold, 700);

@include font-face(Ruda-SemiBold, Ruda-SemiBold, 600);

@include font-face(Ruda-Regular, Ruda-Regular, 400);





