@import 'reset';
@import 'fonts';
@import 'vars';
@import 'global';
@import 'libs';
@import 'mixsin';

.header {

  &__top {
    padding: 14px 0;
    background-color: $dark-800;
  }

  &__address {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__address-list {
    display: flex;
  }

  &__address-item {
    margin-right: 40px;
    padding-left: 44px;
    position: relative;

    &::before {
      content: '';
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      filter: invert(100%) sepia(2%) saturate(229%) hue-rotate(260deg) brightness(113%) contrast(100%);
      position: absolute;
      width: 32px;
      height: 22px;
      top: -3px;
      left: 0;
    }

    &--car::before {
      background-image: url('../images/sprite.svg#icon-address');
      width: 32px;
      height: 42px;
      top: -14px;
      left: 3px;
    }

    &--tel::before {
      background-image: url('../images/sprite.svg#icon-tel');
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__address-link {
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 13px;
    line-height: 1.3;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: $white;
  }

  &__bootom {
    padding: 25px 0;
    background-color: $green-900;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__btn {
    font-family: 'OpenSans-SemiBold', sans-serif;
    padding: 15px 38px 15px 61px;
    background-color: $white;
    border-radius: 6px;
    letter-spacing: 0.3px;
    color: $green-900;
    cursor: pointer;
    position: relative;
    margin-right: 30px;

    &:before {
      content: '';
      position: absolute;
      top: 13px;
      left: 18px;
      background-image: url('../images/sprite.svg#nav_icon');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      filter: invert(51%) sepia(32%) saturate(1928%) hue-rotate(50deg) brightness(97%) contrast(89%);
      width: 25px;
      height: 26px;
    }

    &:after {
      content: '';
      position: absolute;
      top: 21px;
      right: 16px;
      background-image: url('../images/sprite.svg#nav-icon-down');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      filter: invert(51%) sepia(32%) saturate(1928%) hue-rotate(50deg) brightness(97%) contrast(89%);
      width: 10px;
      height: 10px;
    }
  }

  &__user {
    display: flex;
  }

  &__user-link {
    margin-right: 11px;
    position: relative;
    width: 50px;
    height: 50px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__user-icon {
    width: 32px;
    height: 32px;
    fill: $white;
  }

  &__user-num {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: $white;
    color: $red-900;
    top: 1px;
    left: 2px;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
  }
}

.form {
  position: relative;
  max-width: 578px;
  width: 100%;
  margin-right: 45px;

  &__icon {
    &::before {
      content: "";
      background-image: url('../images/sprite.svg#icon-search');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      filter: invert(16%) sepia(6%) saturate(1322%) hue-rotate(42deg) brightness(94%) contrast(86%);
      position: absolute;
      width: 28px;
      height: 28px;
      top: 11px;
      left: 9px;
    }
  }

  &__input {
    width: 100%;
    height: 50px;
    padding-left: 51px;
    border: 1px solid $white;
    border-radius: 6px;
    outline: none;
    color: $dark-800;

    &::placeholder {
      font-family: OpenSans-Regular;
      color: $dark-800;
      font-size: 14px;
      line-height: 1.4;
      letter-spacing: 0.3px;
    }
  }

  &__btn {
    position: absolute;
    top: 0;
    right: 0px;
    width: 158px;
    height: 50px;
    border: none;
    background-color: $dark-800;
    color: $white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    text-transform: uppercase;
    padding: 15px 52px;
  }
}

.menu {
  display: flex;

  &__item {
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 13px;
    line-height: 1.3;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: $white;
  }
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 41px;

  &__img {
    width: 55px;
    height: 60px;
    object-fit: cover;
    margin-right: 13px;
  }

  &__box {
    color: $white;
    font-family: 'Ruda-SemiBold', sans-serif;
    text-align: center;
  }

  &__title {
    font-size: 28px;
    line-height: 1.2;
    text-transform: uppercase;
  }

  &__description {
    display: block;
    font-size: 12px;
    line-height: 1.2;
  }
}

.slider {

  &__item {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 600px;
    // @include responsive-ratio(16, 9);
  }

  &__inner {
    padding-top: 142px;
  }

  &__content {
    padding: 25px 24px;
    background-color: rgba($white, 0.8);
    width: 100%;
    // height: 315px;
  }

  &__title {
    font-family: 'Ruda-Black', sans-serif;
    max-width: 765px;
    font-size: 18px;
    font-size: 60px;
    line-height: 1.3;
    text-transform: uppercase;
    margin-bottom: 3px;
    @include line-clamp(2);
  }

  &__discount {
    font-family: 'Ruda-Black',
      sans-serif;
    display: block;
    max-width: 765px;
    font-size: 18px;
    font-size: 60px;
    margin-bottom: 6px;
    text-transform: uppercase;
    color: $red-900;
    line-height: 1.3;
    @include line-clamp(1);
  }

  &__description {
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 36px;
    @include line-clamp(1);
  }

  &__btn {
    padding: 12px 28px;
  }

  &__arrow {
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.8);
    height: 60px;
    width: 60px;
    padding: 14px 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-67%);
    transition-property: fill,
      box-shadow,
      background-color;
    transition-duration: 0.5s;

    svg {
      width: 19px;
      height: 32px;
      fill: $dark-500;
    }

    &:focus {
      box-shadow: 0px 0px 0px 3px rgba(99, 166, 14, 0.5);
      border-radius: 6px;

      svg {
        fill: $dark-500;
      }
    }

    &:hover {
      background-color: $green-200;

      svg {
        fill: $green-900;
      }
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.8);

      svg {
        fill: $green-900;
      }
    }
  }

  &__prev {
    left: 60px;
  }

  &__next {
    right: 60px;
  }
}

.services {
  padding-top: 48px;
  padding-bottom: 29px;
  background-color: $silver-100;

  &__inner {
    display: flex;
    justify-content: center;
  }

  &__item {
    max-width: 264px;
    position: relative;
    margin-right: 64px;
    padding-left: 86px;

    &:last-child {
      margin-right: 0;
    }

    &::before {
      content: '';
      position: absolute;
      width: 78px;
      height: 53px;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      filter: invert(51%) sepia(32%) saturate(1928%) hue-rotate(50deg) brightness(97%) contrast(89%);
    }
  }

  &__item--delivery {
    &::before {
      background-image: url('../images/sprite.svg#scooter');
    }
  }

  &__item--product {
    &::before {
      background-image: url('../images/sprite.svg#return-box');
    }
  }

  &__item--support {
    &::before {
      background-image: url('../images/sprite.svg#24-hours');
    }
  }

  &__title {
    font-family: 'OpenSans-SemiBold', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 6px;
    @include line-clamp(1);
  }

  &__text {
    @include line-clamp(2);
  }
}

.goods {

  &__top {
    margin-bottom: 48px;
  }

  &__wrapper {
    max-width: 1320px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
  }

  &__btn-wrapper {
    text-align: center;
  }

  &__btn {
    color: $green-900;
    background-color: $white;
    border: 1px solid $green-900;
  }
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;

  &__item {
    margin-right: 21px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__btn {
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
  }
}

.product {

  &__item {
    margin: 0 15px 30px;
    // width: calc((100% / 3) - 44px);
    max-width: 300px;
    height: 409px;
    padding: 12px 0 12px 0;
    border: 1px solid rgba(17, 17, 17, 0.2);
    border-radius: 6px;
    background: white;
  }

  &__favorite {
    margin-bottom: 7px;
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__favorite-box {
    display: flex;
    flex-direction: column;
  }

  &__new {
    display: block;
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 10px;
    line-height: 1;
    background-color: $green-900;
    color: $white;
    padding: 3px 6px;
    border-radius: 6px;
    text-transform: uppercase;
    margin-bottom: 7px;

    &--disable {
      height: 16px;
      font-size: 0;
      background-color: transparent;
    }

    &--hit {
      background-color: $orange-900;
    }
  }

  &__discount {
    font-family: 'OpenSans-Bold',
      sans-serif;
    height: 16px;
    width: fit-content;
    font-size: 10px;
    line-height: 1;
    background-color: $red-900;
    color: $white;
    padding: 2px 6px;
    border-radius: 6px;
    text-transform: uppercase;

    &--disable {
      height: 16px;
      font-size: 0;
      background-color: transparent;
    }

    &--order {
      order: -1;
    }
  }

  &__favorite-btn {
    border: none;
    background-color: transparent;
    width: 32px;
    height: 28px;
    transition-property: fill, box-shadow, opacity;
    transition-duration: 0.5s;

    &:focus {
      outline: transparent;
      box-shadow: 0px 0px 0px 3px $green-200;
      border-radius: 3px;
    }

    &:hover {
      svg {
        fill: $yellow-900;
      }
    }

    &:active {
      svg {
        fill: $yellow-900;
        opacity: 0.5;
      }
    }
  }

  &__favorite-icon {
    width: 32px;
    height: 28px;
    fill: $silver-600;

  }

  &__link {
    margin-bottom: 18px;
    display: block;
    position: relative;
    background-color: transparent;
    transition-property: background-color, width, height;
    transition-duration: 1s;

    &:hover::before {
      content: '';
      position: absolute;
      background-image: url('../images/icon-search-goods.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 25px 25px;
      width: 48px;
      height: 48px;
      background-color: $white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      z-index: 10;
    }

    &:hover::after {
      content: '';
      position: absolute;
      background-color: rgba(0, 0, 0, 0.1);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 5;
    }
  }

  &__img {
    width: 298px;
    height: 215px;
    object-fit: cover;
  }


  &__list {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
  }

  &__list-title {
    font-family: 'OpenSans-SemiBold', sans-serif;
    font-size: 14px;
    letter-spacing: 0;
    color: $dark-900;
    margin-bottom: auto;
    margin-top: auto;
    max-width: 239px;
    height: 62px;
    @include line-clamp(3);
  }

  &__cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3px;
  }

  &__cart-box {}

  &__cart-old {
    display: block;
    color: $silver-600;
    position: relative;
    letter-spacing: 1px;
    height: 19px;

    &::before {
      border-bottom: 1px solid $silver-600;
      position: absolute;
      content: "";
      width: 100%;
      height: 50%;
      transform: rotate(-12deg);
    }

    &--disable {
      font-size: 0;

      &::before {
        border-bottom: 1px solid transparent;
      }
    }
  }

  &__cart-new {
    letter-spacing: 1px;
  }

  &__cart-btn {
    border: none;
    background-color: $green-900;
    padding: 8px 8px 5px;
    border-radius: 3px;
  }

  &__cart-icon {
    width: 16px;
    height: 16px;
    fill: $white;
  }
}

.mixitup-control-active {
  border-bottom: 3px solid $green-200;
}


.footer {
  padding-top: 30px;
  background-color: $dark-800;
  color: $white;

  &__top {
    padding-bottom: 25px;
  }

  &__inner {
    margin-top: 29px;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    margin-right: 150px;

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(2) {
      margin-right: 77px;
    }
  }

  &__text {
    margin-bottom: 13px;
  }

  &__form {
    position: relative;
    width: 306px;

  }

  &__form-input {
    width: 100%;
    height: 40px;
    padding-left: 12px;
    border: 1px solid $white;
    border-radius: 6px;
    outline: none;
    color: $dark-800;

    &::placeholder {
      font-family: OpenSans-Regular;
      color: $dark-800;
      font-size: 14px;
      line-height: 1.4;
      // letter-spacing: 0.3px;
    }
  }

  &__form-btn {
    font-family: 'OpenSans-Bold', sans-serif;
    position: absolute;
    top: 0;
    right: 0px;
    width: 126px;
    height: 40px;
    border: none;
    font-size: 12px;
    background-color: $green-900;
    color: $white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    text-transform: uppercase;
    padding: 12px 16px;
  }

  &__list {
    columns: 3;
    column-gap: 77px;
  }

  &__list-item {
    width: 129px;
    margin-bottom: 21px;
  }

  &__phone {
    font-style: normal;
    margin-bottom: 18px;
    display: block;
  }

  &__address {
    font-style: normal;
    margin-bottom: 18px;
  }

  &__bottom {
    padding: 24px 0;
    border-top: 1px solid rgba($white, 0.1);
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__copyright {
    text-transform: uppercase;
  }

  &__payment-visa {
    width: 93px;
    height: 29px;
    fill: $white;
    margin-right: 20px;
  }

  &__payment-master {
    width: 49px;
    height: 29px;
    fill: $white;
  }
}

.social {

  &__box {
    display: flex;
  }

  &__item {
    margin-right: 11px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    width: 32px;
    height: 32px;
  }

  &__icon {
    width: 32px;
    height: 32px;
    fill: $white;
  }
}


@import 'media';